#startbutton {
    /* background-color:blue; */
    height: 10%;
    width: 10%;
    border-style: solid;
    border-color: grey;
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: auto;
    font-weight: bold;
    font-size: larger
}

#page {
    background-image: url('assets/wall.png');
    font-family: 'Playbill';
}


/* #startButton {
    width: 100%;
    text-align: center;
}

#imageKeyboard {
    width: 100%;
    text-align: center;
} */

.half {
    height: 50%;
    text-align: center;
}